@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Lato");
body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

h1 {
  font-size: 2em;
  color: #455b64;
  font-weight: 600;
  letter-spacing: normal;
  text-align: center;
  margin: 0;
  text-transform: capitalize;
}

h2 {
  color: #617d8a;
  font-size: 0.85em;
  text-align: center;
  text-transform: uppercase;
  line-height: 150%;
}

h4 {
  color: #455b64;
  margin: 0;
  font-size: 1.25em;
  display: inline-block;
}

a {
  text-decoration: none;
  color: #617d8a;
}

h5.price-note {
  text-transform: uppercase;
  color: #44a8de;
  margin: 0;
  padding: 0;
  font-size: 0.7em;
}

h5 {
  font-size: 1.35em;
  margin: 0 2px;
  color: #455b64;
  padding: 0;
  line-height: 100%;
}

p {
  color: #617d8a;
}

p.dollar-sign {
  font-size: 0.8em;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0;
  font-weight: 400;
  color: rgba(97, 125, 138, 0.6);
}

p.per-month {
  font-size: 0.8em;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0;
  font-weight: 400;
  color: rgba(97, 125, 138, 0.6);
}

.price-amount-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.price-amount-flex-container h5 {
  font-family: lato;
}

p.fees {
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 20px;
  opacity: .5;
}

p.italic {
  font-style: italic;
}

.pricing {
  width: 100%;
  padding: 50px 0;
}

.pricing-title {
  width: 90%;
  margin: 0 auto 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.pricing-title a.book-a-demo {
  margin-top: 35px;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  padding: 25px 5% 50px 5%;
}
.tabs ul.tab-price-cards {
  list-style-type: none;
  padding: 0;
}
.tabs ul.tab-price-cards li {
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0);
  -webkit-box-shadow: 5px 5px 30px 0px rgba(46, 61, 73, 0.15);
          box-shadow: 5px 5px 30px 0px rgba(46, 61, 73, 0.15);
  padding: 1px;
}
.tabs ul.tab-price-cards li:hover:not(.active) {
  background: rgba(68, 168, 222, 0.1);
  border: 1px solid #44a8de;
}
.tabs ul.tab-price-cards li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
  padding: 0 20px;
}
.tabs ul.tab-price-cards li a .package-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tabs ul.tab-price-cards li a .package-name span.selector {
  display: block;
  border: 2px solid #cbd6e2;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 15px;
}

ul.tab-price-cards li.active {
  border: 2px solid #44a8de;
  padding: 0;
}
ul.tab-price-cards li.active a .package-name span.selector {
  border: 2px solid #44a8de;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
ul.tab-price-cards li.active a .package-name span.selector:after {
  content: "";
  display: block;
  width: 70%;
  height: 70%;
  background-color: #44a8de;
  border-radius: 50%;
}

.tab-block {
  padding: 20px 0;
}
.tab-block .tab-title h3 {
  font-size: 2em;
  color: #455b64;
  margin: 0 0 10px 0;
}
.tab-block .tab-title a.book-a-demo {
  display: none;
}
.tab-block .about-package {
  margin: 10px 0 40px 0;
}
.tab-block .about-package p {
  font-size: 0.95em;
  line-height: 150%;
}
.tab-block .package-features h5 {
  text-transform: uppercase;
  font-size: 1em;
  color: #455b64;
}
.tab-block .package-features ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  list-style-type: none;
}
.tab-block .package-features ul li {
  color: #617d8a;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  padding-right: 2em;
  padding-bottom: 1.5em;
}
.tab-block .package-features ul li svg {
  width: 16px;
  margin-right: .5em;
  color: #dfe5e8;
}
.tab-block .package-features ul li span {
  position: relative;
  font-size: 14px;
  line-height: 130%;
}
.tab-block .package-features ul li:hover {
  background-color: none;
}

#tab1 li:nth-child(-n + 4) svg {
  color: #33cd86;
}

#tab2 li:nth-child(-n + 10) svg {
  color: #33cd86;
}

#tab3 li:nth-child(-n + 19) svg {
  color: #33cd86;
}

#tab4 li svg {
  color: #33cd86;
}

a.book-a-demo {
  display: inline-block;
  text-decoration: none;
  width: auto;
  text-align: center;
  padding: 15px 25px;
  background-color: rgba(236, 70, 70, 0.97);
  border-top: 2px solid rgba(236, 70, 70, 0.97);
  border-left: 2px solid rgba(236, 70, 70, 0.97);
  border-right: 2px solid rgba(236, 70, 70, 0.97);
  text-transform: uppercase;
  color: #f1f3f4;
  font-weight: 700;
  font-size: 0.8em;
  border-bottom: 2px solid #e82d2b;
  cursor: pointer;
  margin: 0 auto;
  -webkit-transition: all 0.2s ease-Out;
  transition: all 0.2s ease-Out;
}
a.book-a-demo:hover {
  background-color: rgba(237, 84, 84, 0.97);
  border-bottom: 2px solid #e92d2b;
}

.total-cost-calculated {
  margin-top: 20px;
  padding: 20px 0 30px 0;
  border-top: 2px solid rgba(97, 125, 138, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.help-blurb {
  display: none;
}

.customer-support {
  width: 100%;
  overflow: hidden;
}
.customer-support .message {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 50px;
}
.customer-support .message h3 {
  font-size: 2em;
  text-align: center;
  color: #455b64;
  margin: 0;
}
.customer-support .message p {
  line-height: 150%;
  text-align: center;
  color: #617d8a;
}
.customer-support .support-options-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.customer-support .support-options-flex-container .support-item {
  padding: 50px 0 0 0;
}
.customer-support .support-options-flex-container .support-item img {
  display: block;
  width: 50px;
  margin: 0 auto;
  padding-bottom: 20px;
}
.customer-support .support-options-flex-container .support-item h4 {
  text-align: center;
}
.customer-support .support-tri-image-container img {
  display: none;
}

.pricing-faq {
  width: 90%;
  padding: 80px 5% 100px 5%;
}
.pricing-faq h4 {
  font-size: 2em;
  text-align: center;
  margin: 10px 0 30px 0;
}
.pricing-faq .faq-item {
  padding: 20px 0;
}
.pricing-faq p.bold {
  font-weight: 400;
  font-size: 1.5em;
  margin: 0;
  color: #455b64;
}
.pricing-faq p {
  line-height: 150%;
  margin: 5px 0;
}

@media screen and (min-width: 450px) {
  .book-a-demo-container a.book-a-demo {
    float: right;
  }

  .tab-block .tab-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .tab-block .tab-title h3 {
    margin: 0;
    font-size: 2.3em;
  }
}
@media screen and (min-width: 900px) {
  h1 {
    font-size: 2.5em;
  }

  .pricing-title a.book-a-demo {
    display: none;
  }

  .total-cost-calculated h5 {
    font-size: 1.7em;
  }
  .total-cost-calculated p.dollar-sign {
    font-size: 1em;
  }
  .total-cost-calculated p.per-month {
    font-size: 1em;
  }

  .pricing-container {
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }

  .tabs {
    width: 95%;
    padding: 50px 2.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 auto;
  }
  .tabs ul.tab-price-cards {
    width: 30%;
  }
  .tabs .tab-block {
    width: 65%;
    margin-left: 5%;
  }

  .help-blurb {
    width: 90%;
    padding: 50px 5% 0 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .help-blurb h5 {
    text-align: center;
    line-height: 120%;
    width: 70%;
  }
  .help-blurb p {
    width: 100%;
    line-height: 150%;
    text-align: center;
  }
  .help-blurb a {
    display: inline-block;
    color: #44a8de;
    padding: 10px;
    font-size: 1.15em;
    font-weight: 400;
  }
  .help-blurb a span {
    margin: 0 10px;
  }
  .help-blurb a img {
    width: 0.8em;
    height: auto;
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  .help-blurb a:hover img {
    -webkit-animation: phonecall 0.2s ease-in-out 2;
            animation: phonecall 0.2s ease-in-out 2;
  }
  @-webkit-keyframes phonecall {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    20% {
      -webkit-transform: rotate(-15deg);
              transform: rotate(-15deg);
    }
    35% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    80% {
      -webkit-transform: rotate(15deg);
              transform: rotate(15deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }
  @keyframes phonecall {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    20% {
      -webkit-transform: rotate(-15deg);
              transform: rotate(-15deg);
    }
    35% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    80% {
      -webkit-transform: rotate(15deg);
              transform: rotate(15deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }
  .customer-support {
    width: 90%;
    padding: 50px 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .customer-support .message {
    width: 50%;
    margin: 0;
  }
  .customer-support .message h2,
  .customer-support .message h3,
  .customer-support .message p {
    text-align: left;
  }
  .customer-support .support-options-flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .customer-support .support-options-flex-container .support-item h4 {
    font-size: 1em;
  }
  .customer-support .support-tri-image-container {
    display: block;
    width: 40%;
  }
  .customer-support .support-tri-image-container img {
    display: block;
    width: 100%;
  }

  .pricing-faq .faq-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .pricing-faq .faq-wrapper .faq-item {
    width: 45%;
  }

  .tabs .package-features {
    height: 630px;
  }
  .tabs .package-features ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 90%;
  }
  .tabs .package-features ul li {
    width: 45%;
  }
}
@media screen and (min-width: 1300px) {
  h1 {
    font-size: 3em;
  }

  .pricing-container {
    width: 1250px;
  }

  .tabs {
    width: 100%;
    padding: 75px 0 50px 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .tabs ul.tab-price-cards {
    width: 325px;
  }
  .tabs .tab-block {
    width: 850px;
  }
  .tabs .package-features {
    height: 500px;
  }
  .tabs .package-features ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 90%;
  }
  .tabs .package-features ul li {
    width: 29.5%;
  }

  .help-blurb {
    width: 100%;
    padding: 50px 0 0 0;
  }

  .customer-support {
    width: 1250px;
    padding: 100px 0;
    margin: 0 auto;
  }
  .customer-support .message {
    width: 550px;
  }
  .customer-support .support-tri-image-container {
    width: 600px;
    margin-right: -20px;
  }

  .pricing-faq {
    width: 1250px;
    margin: 0 auto;
    padding: 100px 0 150px 0;
  }
  .pricing-faq h4 {
    margin: 10px 0 30px 0;
  }
  .pricing-faq .faq-item {
    padding: 50px 0;
  }
}
@media screen and (min-width: 1500px) {
  .customer-support {
    overflow: visible;
  }
  .customer-support .support-tri-image-container {
    overflow: visible;
  }
  .customer-support .support-tri-image-container img {
    width: 700px;
  }
}
