.interactive-pricing-page-wrapper
  .pricing
    .pricing-title
      h2 No contracts.  Free, unparalleled support.
      h1 See what Legwork can do for you
      a.book-a-demo(target="_blank" href="https://app.hubspot.com/meetings/jeff17/legwork-30-minute-demo") Book a Demo
    .pricing-container
      .tabs
        ul.tab-price-cards
          li
            a(href="#tab1")
              .package-name
                span.selector
                h4 Basic
              .price-amount-flex-container
                p.dollar-sign $
                h5 99
                p.per-month /mo
          li
            a(href="#tab2")
              .package-name
                span.selector
                h4 Plus
              .price-amount-flex-container
                p.dollar-sign $
                h5 179
                p.per-month /mo
          li
            a(href="#tab3")
              .package-name
                span.selector
                .special-note
                  h4 Premium
                  h5.price-note Best Value
              .price-amount-flex-container
                p.dollar-sign $
                h5 349
                p.per-month /mo
          li
            a(href="#tab4")
              .package-name
                span.selector
                h4 Premium +</br>Website
              .price-amount-flex-container
                p.dollar-sign $
                h5 499
                p.per-month /mo
          .help-blurb
            h5 Not sure which plan is right for you?
            p Just pick up the phone and give us a call.  We'll help you customize the perfect plan for your practice.
            a.help-blurb-contact(href="tel:#877-311-4690")
              img(src="https://raw.githubusercontent.com/LegworkPRM/images/master/phone-icon-01.png")
              span 877-311-4690
        .tab-block#tab1
          .tab-title
            h3 PRM Basic
            a.book-a-demo(target="_blank" href="https://app.hubspot.com/meetings/jeff17/legwork-30-minute-demo") Book a Demo
          .about-package
            p.fees No Setup Fee/ No Contract
            p For practices interested saving valuable staff-time with automated text, email, auto-call and postal reminders.  Set and forget your reminders while reducing no shows, improving recall and bringing back dormant patients.    
          .package-features
            h5 Features
            ul
              li
                i.fas.fa-check-circle
                span Appointment Reminders
              li
                i.fas.fa-check-circle
                span Recall Reminders  
              li
                i.fas.fa-check-circle
                span Reactivation Reminders
              li
                i.fas.fa-check-circle
                span Email Communications 
              li
                i.fas.fa-check-circle
                span Two-way text messaging
              li
                i.fas.fa-check-circle
                span Mobile phone number validation
              li
                i.fas.fa-check-circle
                span Marketing health reports
              li
                i.fas.fa-check-circle
                span Patient Calendar &amp; Operatory Dashboard
              li
                i.fas.fa-check-circle
                span Team Task List
              li
                i.fas.fa-check-circle
                span Patient Demographic Reports
              li
                i.fas.fa-check-circle
                span Patient welcome &amp; experience kit
              li
                i.fas.fa-check-circle
                span Digital health history forms 
              li
                i.fas.fa-check-circle
                span Automated patient referral program
              li
                i.fas.fa-check-circle
                span Google &amp; Facebook reviews
              li
                i.fas.fa-check-circle
                span Un-scheduled treatment workflows
              li
                i.fas.fa-check-circle
                span Services content library
              li
                i.fas.fa-check-circle
                span Monthly email &amp; blog campaigns
              li
                i.fas.fa-check-circle
                span Monthly Social Media Posting
              li
                i.fas.fa-check-circle
                span Business Listing Citations Management
              li
                i.fas.fa-check-circle
                span Mobile-First Basic, Semi-Custom or Custom Website Design
              li
                i.fas.fa-check-circle
                span SSL Secure Hosting
              li
                i.fas.fa-check-circle
                span On-Going Maintenance
              li
                i.fas.fa-check-circle
                span 1-Hour Monthly Front-End Edits
              li
                i.fas.fa-check-circle
                span Search Engine Relevant Link Re-Directs
          .total-cost-calculated
            h5 Monthly Cost
            .price-amount-flex-container
                p.dollar-sign $
                h5 99
                p.per-month /mo
          .book-a-demo-container
            a.book-a-demo(target="_blank" href="https://app.hubspot.com/meetings/jeff17/legwork-30-minute-demo") Book a Demo
        .tab-block#tab2
          .tab-title
            h3 PRM Plus
            a.book-a-demo(target="_blank" href="https://app.hubspot.com/meetings/jeff17/legwork-30-minute-demo") Book a Demo
          .about-package
            p.fees No Setup Fee/ No Contract
            p For dental teams wanting more granular methods for communicating with patients.   Enjoy two-way texting, validation of mobile and land-line phone numbers and actionable reports.
          .package-features
            h5 Features
            ul
              li
                i.fas.fa-check-circle
                span Appointment Reminders
              li
                i.fas.fa-check-circle
                span Recall Reminders  
              li
                i.fas.fa-check-circle
                span Reactivation Reminders
              li
                i.fas.fa-check-circle
                span Email Communications 
              li
                i.fas.fa-check-circle
                span Two-way text messaging
              li
                i.fas.fa-check-circle
                span Mobile phone number validation
              li
                i.fas.fa-check-circle
                span Marketing health reports
              li
                i.fas.fa-check-circle
                span Patient Calendar &amp; Operatory Dashboard
              li
                i.fas.fa-check-circle
                span Team Task List
              li
                i.fas.fa-check-circle
                span Patient Demographic Reports
              li
                i.fas.fa-check-circle
                span Patient welcome &amp; experience kit
              li
                i.fas.fa-check-circle
                span Digital health history forms 
              li
                i.fas.fa-check-circle
                span Automated patient referral program
              li
                i.fas.fa-check-circle
                span Google &amp; Facebook reviews
              li
                i.fas.fa-check-circle
                span Un-scheduled treatment workflows
              li
                i.fas.fa-check-circle
                span Services content library
              li
                i.fas.fa-check-circle
                span Monthly email &amp; blog campaigns
              li
                i.fas.fa-check-circle
                span Monthly Social Media Posting
              li
                i.fas.fa-check-circle
                span Business Listing Citations Management
              li
                i.fas.fa-check-circle
                span Mobile-First Basic, Semi-Custom or Custom Website Design
              li
                i.fas.fa-check-circle
                span SSL Secure Hosting
              li
                i.fas.fa-check-circle
                span On-Going Maintenance
              li
                i.fas.fa-check-circle
                span 1-Hour Monthly Front-End Edits
              li
                i.fas.fa-check-circle
                span Search Engine Relevant Link Re-Directs
          .total-cost-calculated
            h5 Monthly Cost
            .price-amount-flex-container
                p.dollar-sign $
                h5 179
                p.per-month /mo
          .book-a-demo-container
            a.book-a-demo(target="_blank" href="https://app.hubspot.com/meetings/jeff17/legwork-30-minute-demo") Book a Demo
        .tab-block#tab3
          .tab-title
            h3 PRM Premium
            a.book-a-demo(target="_blank" href="https://app.hubspot.com/meetings/jeff17/legwork-30-minute-demo") Book a Demo
          .about-package
            p.fees No Setup Fee/ No Contract
            p For practices that want to grow through referrals and an enhanced online web presence.  Let our PRM software and marketing services do the Legwork.  Retain your existing patients with on-going monthly campaigns, encourage new referrals with our automated referral system, and encourage Google and Facebook reviews, monthly social media postings and more.
          .package-features
            h5 Features
            ul
              li
                i.fas.fa-check-circle
                span Appointment Reminders
              li
                i.fas.fa-check-circle
                span Recall Reminders  
              li
                i.fas.fa-check-circle
                span Reactivation Reminders
              li
                i.fas.fa-check-circle
                span Email Communications 
              li
                i.fas.fa-check-circle
                span Two-way text messaging
              li
                i.fas.fa-check-circle
                span Mobile phone number validation
              li
                i.fas.fa-check-circle
                span Marketing health reports
              li
                i.fas.fa-check-circle
                span Patient Calendar &amp; Operatory Dashboard
              li
                i.fas.fa-check-circle
                span Team Task List
              li
                i.fas.fa-check-circle
                span Patient Demographic Reports
              li
                i.fas.fa-check-circle
                span Patient welcome &amp; experience kit
              li
                i.fas.fa-check-circle
                span Digital health history forms 
              li
                i.fas.fa-check-circle
                span Automated patient referral program
              li
                i.fas.fa-check-circle
                span Google &amp; Facebook reviews
              li
                i.fas.fa-check-circle
                span Un-scheduled treatment workflows
              li
                i.fas.fa-check-circle
                span Services content library
              li
                i.fas.fa-check-circle
                span Monthly email &amp; blog campaigns
              li
                i.fas.fa-check-circle
                span Monthly Social Media Posting
              li
                i.fas.fa-check-circle
                span Business Listing Citations Management
              li
                i.fas.fa-check-circle
                span Mobile-First Basic, Semi-Custom or Custom Website Design
              li
                i.fas.fa-check-circle
                span SSL Secure Hosting
              li
                i.fas.fa-check-circle
                span On-Going Maintenance
              li
                i.fas.fa-check-circle
                span 1-Hour Monthly Front-End Edits
              li
                i.fas.fa-check-circle
                span Search Engine Relevant Link Re-Directs
          .total-cost-calculated
            h5 Monthly Cost
            .price-amount-flex-container
                p.dollar-sign $
                h5 349
                p.per-month /mo
          .book-a-demo-container
            a.book-a-demo(target="_blank" href="https://app.hubspot.com/meetings/jeff17/legwork-30-minute-demo") Book a Demo
        .tab-block#tab4
          .tab-title
            h3 PRM Premium + Website
            a.book-a-demo(target="_blank" href="https://app.hubspot.com/meetings/jeff17/legwork-30-minute-demo") Book a Demo
          .about-package
            p.fees Setup fee may apply
            p For practices that want to grow through an enhanced website and online presence.  Generate new leads with a Legwork mobile-first website designed to adapt to the new demand of richer mobile and tablet experiences.  To accomplish this, we purposefully avoid frivolous bells and whistles in exchange for efficient, scalable design.  Additionally, we infuse rich, engaging content experiences that have little to do with clinical philosophy and everything to do with building instant rapport and trust with each visitor.
            p.italic *3 package levels available.  Basic level - no-set up fee, Semi-Custom $1,250 set-up fee, Full-Custom $2,500 set-up fee.
          .package-features
            h5 Features
            ul
              li
                i.fas.fa-check-circle
                span Appointment Reminders
              li
                i.fas.fa-check-circle
                span Recall Reminders  
              li
                i.fas.fa-check-circle
                span Reactivation Reminders
              li
                i.fas.fa-check-circle
                span Email Communications 
              li
                i.fas.fa-check-circle
                span Two-way text messaging
              li
                i.fas.fa-check-circle
                span Mobile phone number validation
              li
                i.fas.fa-check-circle
                span Marketing health reports
              li
                i.fas.fa-check-circle
                span Patient Calendar &amp; Operatory Dashboard
              li
                i.fas.fa-check-circle
                span Team Task List
              li
                i.fas.fa-check-circle
                span Patient Demographic Reports
              li
                i.fas.fa-check-circle
                span Patient welcome &amp; experience kit
              li
                i.fas.fa-check-circle
                span Digital health history forms 
              li
                i.fas.fa-check-circle
                span Automated patient referral program
              li
                i.fas.fa-check-circle
                span Google &amp; Facebook reviews
              li
                i.fas.fa-check-circle
                span Un-scheduled treatment workflows
              li
                i.fas.fa-check-circle
                span Services content library
              li
                i.fas.fa-check-circle
                span Monthly email &amp; blog campaigns
              li
                i.fas.fa-check-circle
                span Monthly Social Media Posting
              li
                i.fas.fa-check-circle
                span Business Listing Citations Management
              li
                i.fas.fa-check-circle
                span Mobile-First Basic, Semi-Custom or Custom Website Design
              li
                i.fas.fa-check-circle
                span SSL Secure Hosting
              li
                i.fas.fa-check-circle
                span On-Going Maintenance
              li
                i.fas.fa-check-circle
                span 1-Hour Monthly Front-End Edits
              li
                i.fas.fa-check-circle
                span Search Engine Relevant Link Re-Directs
          .total-cost-calculated
            h5 Monthly Cost
            .price-amount-flex-container
                p.dollar-sign $
                h5 499
                p.per-month /mo
          .book-a-demo-container
            a.book-a-demo(target="_blank" href="https://app.hubspot.com/meetings/jeff17/legwork-30-minute-demo") Book a Demo
  .customer-support
    .message
      h2 Customer support
      h3 We're all about you
      p More Innovation.  Best Price.  Without Compromise.  That’s Legworks’ mission.  But what does it mean?  We thought you’d never ask!  More innovation means always striving to provide more effective software technology than our competitor.  Best price?  That’s a no-brainer.  We do that standing on our head.  Without Compromise, means you won’t sacrifice innovation or service and support in exchange for a better price.  We strive to maintain an attrition rate that is less than 1%, the lowest in the industry.  And we are living it every day.  In fact, more than 99% of customers that come to Legwork, stay!  That’s happiness delivered.
      .support-options-flex-container
        .support-item
          img(src="https://github.com/LegworkPRM/images/blob/master/phone-support-icon.png?raw=true")
          h4 Phone/Email</br>Support
        .support-item
          img(src="https://github.com/LegworkPRM/images/blob/master/support-document-icon.png?raw=true")
          h4 Help Documentation</br>&amp; eBooks
        .support-item
          img(src="https://github.com/LegworkPRM/images/blob/master/training-video-icon.png?raw=true")
          h4 Training Videos
    .support-tri-image-container
      img(src="https://github.com/LegworkPRM/images/blob/master/support-tri-image-01.png?raw=true")
  .pricing-faq
    h4 Frequently Asked Questions
    .faq-wrapper
      .faq-item
        p.bold Pricing Question
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat quas qui, consequuntur cum recusandae tempore odio exercitationem ea fugit nesciunt totam earum sunt eum maiores facilis eveniet quo, asperiores commodi.
      .faq-item
        p.bold Pricing Question
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat quas qui, consequuntur cum recusandae tempore odio exercitationem ea fugit nesciunt totam earum sunt eum maiores facilis eveniet quo, asperiores commodi.
      .faq-item
        p.bold Pricing Question
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat quas qui, consequuntur cum recusandae tempore odio exercitationem ea fugit nesciunt totam earum sunt eum maiores facilis eveniet quo, asperiores commodi.
      .faq-item
        p.bold Pricing Question
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat quas qui, consequuntur cum recusandae tempore odio exercitationem ea fugit nesciunt totam earum sunt eum maiores facilis eveniet quo, asperiores commodi.
      .faq-item
        p.bold Pricing Question
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat quas qui, consequuntur cum recusandae tempore odio exercitationem ea fugit nesciunt totam earum sunt eum maiores facilis eveniet quo, asperiores commodi.
      .faq-item
        p.bold Pricing Question
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat quas qui, consequuntur cum recusandae tempore odio exercitationem ea fugit nesciunt totam earum sunt eum maiores facilis eveniet quo, asperiores commodi.