.pricing
  .pricing-title
    h2 No contracts. no setup fees. free, unparalleled support.
    h1 See what Legwork can do for you
    a.book-a-demo(target="_blank" href="https://app.hubspot.com/meetings/jeff17/legwork-30-minute-demo") Book a Demo
  .pricing-container
    .tabs
      ul.tab-price-cards
        li
          a(href="#tab1")
            .package-name
              span.selector
              h4 Basic
            .price-amount-flex-container
              p.dollar-sign $
              h5 99
              p.per-month /mo
        li
          a(href="#tab2")
            .package-name
              span.selector
              h4 Plus
            .price-amount-flex-container
              p.dollar-sign $
              h5 179
              p.per-month /mo
        li
          a(href="#tab3")
            .package-name
              span.selector
              .special-note
                h4 Premium
                h5.price-note Best Value
            .price-amount-flex-container
              p.dollar-sign $
              h5 349
              p.per-month /mo
        li
          a(href="#tab4")
            .package-name
              span.selector
              h4 Platinum
            .price-amount-flex-container
              p.dollar-sign $
              h5 499
              p.per-month /mo
        .help-blurb
          h5 Not sure which plan is right for you?
          p Just pick up the phone and give us a call.  We'll help you customize the perfect plan for your practice.
          a.help-blurb-contact(href="tel:#877-311-4690")
            img(src="https://raw.githubusercontent.com/LegworkPRM/images/master/phone-icon-01.png")
            span 877-311-4690
      .tab-block#tab1
        .tab-title
          h3 PRM Basic
          a.book-a-demo(target="_blank" href="https://app.hubspot.com/meetings/jeff17/legwork-30-minute-demo") Book a Demo
        .about-package
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore molestiae excepturi autem incidunt, eveniet labore quidem
        .package-features
          h5 Features
          ul
            li
              i.fas.fa-check-circle(style="color:#33cd86")
              span Appointment Reminder Workflow
            li
              i.fas.fa-check-circle(style="color:#dfe5e8")
              span Two-way Texting  
            li
              i.fas.fa-check-circle(style="color:#dfe5e8")
              span Phone Number Validation
            li
              i.fas.fa-check-circle(style="color:#dfe5e8")
              span Referral Booster 
            li
              i.fas.fa-check-circle(style="color:#dfe5e8")
              span Reviews Booster
            li
              i.fas.fa-check-circle(style="color:#dfe5e8")
              span New Patient Experience Booster 
            li
              i.fas.fa-check-circle(style="color:#dfe5e8")
              span One-Click Education Workflows
            li
              i.fas.fa-check-circle(style="color:#dfe5e8")
              span Social Media Posting
            li
              i.fas.fa-check-circle(style="color:#dfe5e8")
              span Website Integrations
            li
              i.fas.fa-check-circle(style="color:#dfe5e8")
              span SEO Booster
            li
              i.fas.fa-check-circle(style="color:#dfe5e8")
              span Search Marketing
        .total-cost-calculated
          h5 Monthly Cost
          .price-amount-flex-container
              p.dollar-sign $
              h5 99
              p.per-month /mo
        .book-a-demo-container
          a.book-a-demo(target="_blank" href="https://app.hubspot.com/meetings/jeff17/legwork-30-minute-demo") Book a Demo
      .tab-block#tab2
        .tab-title
          h3 PRM Plus
          a.book-a-demo(target="_blank" href="https://app.hubspot.com/meetings/jeff17/legwork-30-minute-demo") Book a Demo
        .about-package
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore molestiae excepturi autem incidunt, eveniet labore quidem
        .package-features
          h5 Features
          ul
            li
              i.fas.fa-check-circle(style="color:#33cd86")
              span Appointment Reminder Workflow
            li
              i.fas.fa-check-circle(style="color:#33cd86")
              span Two-way Texting  
            li
              i.fas.fa-check-circle(style="color:#33cd86")
              span Phone Number Validation
            li
              i.fas.fa-check-circle(style="color:#dfe5e8")
              span Referral Booster 
            li
              i.fas.fa-check-circle(style="color:#dfe5e8")
              span Reviews Booster
            li
              i.fas.fa-check-circle(style="color:#dfe5e8")
              span New Patient Experience Booster 
            li
              i.fas.fa-check-circle(style="color:#dfe5e8")
              span One-Click Education Workflows
            li
              i.fas.fa-check-circle(style="color:#dfe5e8")
              span Social Media Posting
            li
              i.fas.fa-check-circle(style="color:#dfe5e8")
              span Website Integrations
            li
              i.fas.fa-check-circle(style="color:#dfe5e8")
              span SEO Booster
            li
              i.fas.fa-check-circle(style="color:#dfe5e8")
              span Search Marketing
        .total-cost-calculated
          h5 Monthly Cost
          .price-amount-flex-container
              p.dollar-sign $
              h5 179
              p.per-month /mo
        .book-a-demo-container
          a.book-a-demo(target="_blank" href="https://app.hubspot.com/meetings/jeff17/legwork-30-minute-demo") Book a Demo
      .tab-block#tab3
        .tab-title
          h3 PRM Premium
          a.book-a-demo(target="_blank" href="https://app.hubspot.com/meetings/jeff17/legwork-30-minute-demo") Book a Demo
        .about-package
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore molestiae excepturi autem incidunt, eveniet labore quidem
        .package-features
          h5 Features
          ul
            li
              i.fas.fa-check-circle(style="color:#33cd86")
              span Appointment Reminder Workflow
            li
              i.fas.fa-check-circle(style="color:#33cd86")
              span Two-way Texting  
            li
              i.fas.fa-check-circle(style="color:#33cd86")
              span Phone Number Validation
            li
              i.fas.fa-check-circle(style="color:#33cd86")
              span Referral Booster 
            li
              i.fas.fa-check-circle(style="color:#33cd86")
              span Reviews Booster
            li
              i.fas.fa-check-circle(style="color:#33cd86")
              span New Patient Experience Booster 
            li
              i.fas.fa-check-circle(style="color:#33cd86")
              span One-Click Education Workflows
            li
              i.fas.fa-check-circle(style="color:#33cd86")
              span Social Media Posting
            li
              i.fas.fa-check-circle(style="color:#33cd86")
              span Website Integrations
            li
              i.fas.fa-check-circle(style="color:#dfe5e8")
              span SEO Booster
            li
              i.fas.fa-check-circle(style="color:#dfe5e8")
              span Search Marketing
        .total-cost-calculated
          h5 Monthly Cost
          .price-amount-flex-container
              p.dollar-sign $
              h5 349
              p.per-month /mo
        .book-a-demo-container
          a.book-a-demo(target="_blank" href="https://app.hubspot.com/meetings/jeff17/legwork-30-minute-demo") Book a Demo
      .tab-block#tab4
        .tab-title
          h3 PRM Platinum
          a.book-a-demo(target="_blank" href="https://app.hubspot.com/meetings/jeff17/legwork-30-minute-demo") Book a Demo
        .about-package
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore molestiae excepturi autem incidunt, eveniet labore quidem
        .package-features
          h5 Features
          ul
            li
              i.fas.fa-check-circle(style="color:#33cd86")
              span Appointment Reminder Workflow
            li
              i.fas.fa-check-circle(style="color:#33cd86")
              span Two-way Texting  
            li
              i.fas.fa-check-circle(style="color:#33cd86")
              span Phone Number Validation
            li
              i.fas.fa-check-circle(style="color:#33cd86")
              span Referral Booster 
            li
              i.fas.fa-check-circle(style="color:#33cd86")
              span Reviews Booster
            li
              i.fas.fa-check-circle(style="color:#33cd86")
              span New Patient Experience Booster 
            li
              i.fas.fa-check-circle(style="color:#33cd86")
              span One-Click Education Workflows
            li
              i.fas.fa-check-circle(style="color:#33cd86")
              span Social Media Posting
            li
              i.fas.fa-check-circle(style="color:#33cd86")
              span Website Integrations
            li
              i.fas.fa-check-circle(style="color:#33cd86")
              span SEO Booster
            li
              i.fas.fa-check-circle(style="color:#33cd86")
              span Search Marketing
        .total-cost-calculated
          h5 Monthly Cost
          .price-amount-flex-container
              p.dollar-sign $
              h5 499
              p.per-month /mo
        .book-a-demo-container
          a.book-a-demo(target="_blank" href="https://app.hubspot.com/meetings/jeff17/legwork-30-minute-demo") Book a Demo
.customer-support
  .message
    h2 Customer support
    h3 We're all about you
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel tempora velit ducimus minima repellendus deserunt voluptas itaque iure doloribus, esse earum fuga veniam architecto quis similique at dolorem dignissimos ipsa?
    .support-options-flex-container
      .support-item
        img(src="https://github.com/LegworkPRM/images/blob/master/phone-support-icon.png?raw=true")
        h4 Phone/Email</br>Support
      .support-item
        img(src="https://github.com/LegworkPRM/images/blob/master/support-document-icon.png?raw=true")
        h4 Help Documentation</br>&amp; eBooks
      .support-item
        img(src="https://github.com/LegworkPRM/images/blob/master/training-video-icon.png?raw=true")
        h4 Training Videos
  .support-tri-image-container
    img(src="https://github.com/LegworkPRM/images/blob/master/support-tri-image.png?raw=true")
.pricing-faq
  h4 Frequently Asked Questions
  .faq-wrapper
    .faq-item
      p.bold Pricing Question
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat quas qui, consequuntur cum recusandae tempore odio exercitationem ea fugit nesciunt totam earum sunt eum maiores facilis eveniet quo, asperiores commodi.
    .faq-item
      p.bold Pricing Question
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat quas qui, consequuntur cum recusandae tempore odio exercitationem ea fugit nesciunt totam earum sunt eum maiores facilis eveniet quo, asperiores commodi.
    .faq-item
      p.bold Pricing Question
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat quas qui, consequuntur cum recusandae tempore odio exercitationem ea fugit nesciunt totam earum sunt eum maiores facilis eveniet quo, asperiores commodi.
    .faq-item
      p.bold Pricing Question
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat quas qui, consequuntur cum recusandae tempore odio exercitationem ea fugit nesciunt totam earum sunt eum maiores facilis eveniet quo, asperiores commodi.
    .faq-item
      p.bold Pricing Question
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat quas qui, consequuntur cum recusandae tempore odio exercitationem ea fugit nesciunt totam earum sunt eum maiores facilis eveniet quo, asperiores commodi.
    .faq-item
      p.bold Pricing Question
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat quas qui, consequuntur cum recusandae tempore odio exercitationem ea fugit nesciunt totam earum sunt eum maiores facilis eveniet quo, asperiores commodi.